@import 'tailwindcss';
@import '@arco-design/web-react/dist/css/arco.css';
body {
  font-family: 'CustomFont', sans-serif;
}
:root {
  --navbar-height: 60px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1366px;
  font-size: 14px;
}
.arco-menu-inner {
  overflow-y: auto;
}
.arco-menu .arco-menu-inline .arco-menu-item,
.arco-menu-dark .arco-menu-inline-header.arco-menu-selected,
.arco-menu-dark .arco-menu-inline-header.arco-menu-selected .arco-icon,
.arco-tabs-header-title-active,
.arco-tabs-header-title-active:hover {
  color: var(--main-font-color);
}
.arco-tabs-header-ink {
  background-color: var(--main-font-color);
}
.arco-tabs-header-nav::before {
  height: 0;
}
.arco-tabs-header-nav-line .arco-tabs-header-title:hover .arco-tabs-header-title-text::before {
  background-color: var(--hover-color);
}
.arco-menu .arco-menu-inline-header {
  color: var(--main-font-color);
}
.arco-menu-light .arco-menu-item.arco-menu-selected {
  color: var(--main-font-color);
}
.arco-btn-text:not(.arco-btn-disabled):not(.arco-btn-loading):hover{
  background-color: transparent;
}
.arco-modal, 
.arco-select .arco-select-view,
.arco-select.arco-select-focused .arco-select-view,
.arco-select:hover .arco-select-view,
.arco-input,
.arco-input:focus,
.arco-input.arco-input-focus,
.arco-input:hover,
.arco-form-item-status-error .arco-input:not(.arco-input-disabled),
.arco-form-item-status-error .arco-input:not(.arco-input-disabled):hover {
  background-color: var(--sub-bg-color);
  color: var(--main-font-color);
}
.arco-input:focus,
.arco-input.arco-input-focus{
  border-color: var(--main-font-color);
}
.arco-select-size-default.arco-select-single .arco-select-view {
  height: 48px;
  line-height: 48px;
}
.arco-select-popup,
.arco-select-popup .arco-select-option {
  border: 1px solid var(--sub-bg-color);
  background-color: var(--sub-bg-color);
  color: var(--main-font-color);
}
.arco-dropdown-menu {
  background-color: var(--sub-bg-color);
  border-color: var(--sub-bg-color);
}
/* 隐藏所有浏览器的滚动条 */
.hide-scrollbar {
  overflow-y: auto; /* 或 scroll，根据需要选择 */
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;     /* Firefox */
}

/* WebKit 浏览器（Chrome, Safari） */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* 隐藏 Arco Menu 滚动条 */
.arco-menu-inner {
  overflow-y: auto !important;
  -ms-overflow-style: none !important;  /* IE/Edge */
  scrollbar-width: none !important;     /* Firefox */
}

/* WebKit 浏览器（Chrome, Safari） */
.arco-menu-inner::-webkit-scrollbar {
  display: none !important;
}