:root {
  --main-bg-color: #232324;
  --sub-bg-color: #282a2e;
  --main-font-color: #ffffff;
  --sub-font-color: #727272;
  --third-font-color: #c9cdd4;
  --hover-color: rgba(255, 255, 255, 0.04);
  --active-color: #a0ebaa;
  --card-border-color: #705e23;
  --danger-color: rgb(247, 105, 101);
}
