:root {
    --main-bg-color:#232324;
    --sub-bg-color:#282A2E;
    --main-font-color:#ffffff;
    --sub-font-color:#727272;
    --hover-color:rgba(255, 255, 255, 0.04);
    --active-color:#A0EBAA;
    --card-border-color:#705E23;
}