.login-box {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
}
.input {
  height: 48px;
  background-color: var(--sub-bg-color);
  color: var(--main-font-color);
}
